<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand text-info font-weight-bolder" href="#"><img src="~/img/logo.png" class="logo" /> Recursos Humanos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ml-4">
                <li>@Html.ActionLink("Inicio", "Index", "Home","", new { @class = "nav-link text-info font-weight-bolder" })</li>

                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle text-info font-weight-bolder" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Modulos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Mantenimientos", "Mantenimientos", "Home", "", new { @class = "dropdown-item" })
                        @Html.ActionLink("Procesos", "Procesos", "Home", "", new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Informes", "Informes", "Home", "", new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item ml-3">
                <li>@Html.ActionLink("Acerca de", "About", "Home","", new { @class = "nav-link text-info font-weight-bolder" })</li>
            </ul>
           <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>







    <div class="container body-content mt-5">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
