@using ProyectoFinal.Models
@model SALIDA
@{
    ViewBag.Title = "ConfirmarSalida";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="alerta">

    </div>

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.Label("Tipo de salida", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.tipo_salida, new SelectList(Enum.GetValues(typeof(Tipo))), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipo_salida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Motivo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.motivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.motivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="boton" value="Confirmar Salida" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Regresar", "Salida", "Home")

<script type="text/javascript">
    $(document).ready(function () {

        $("#boton").click(function () {

        });

    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}