
@{
    ViewBag.Title = "Informes";
}

<h2>Informes</h2>

<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/nomina-lg.jpg" class="card-img-top" alt="...">
            <div class="card-body" >
                <h5 class="card-title">Nóminas</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                @Html.ActionLink("Generar informe", "InformeNomina", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/empleado.jpg" class="card-img-top" alt="...">
            <div class="card-body" >
                <h5 class="card-title">Empleados Activos</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                @Html.ActionLink("Generar informe", "InformeEmpleadosActivos", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/inactivo.jpg" class="card-img-top" style="height:155px" alt="...">
            <div class="card-body">
                <h5 class="card-title">Empleados inactivos </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                @Html.ActionLink("Generar informe", "InformeEmpleadosInactivos", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/departamentos.jpg" class="card-img-top"  style="height:155px" alt="...">
            <div class="card-body">
                <h5 class="card-title">Departamentos</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                @Html.ActionLink("Generar informe", "InformeDepartamentos", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/cargo.jpg" class="card-img-top"  style="height:155px" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Cargos
                </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                @Html.ActionLink("Generar informe", "InformeCagos", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/contratado.jpg" class="card-img-top"   style="height:155px" alt="...">
            <div class="card-body">
                <h5 class="card-title">Entradas de empleados por mes</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                @Html.ActionLink("Generar informe", "InformeEmpleadosMes", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/despedido.jpg" class="card-img-top"   style="height:155px"alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Salida de empleados por mes
                </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                @Html.ActionLink("Generar informe", "InformeSalidaMes", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/permisos_.jpg" class="card-img-top"  style="height:155px" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Permisos
                </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                @Html.ActionLink("Generar informe", "InformePermisos", "Home", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>